.task {
  min-height: 250px;
  width:300px;
  margin:5px;
  cursor: pointer;
}
.task:hover {
  border-color:#aaa;
}
.taskCreationCard {
  background-color:#fafafa;
  border-color:#f0f0f0;
  border-width:2;
}
.newTask {
  align-items:center;
  justify-content:center;
  background-color:#fafafa;
  border-color:#f0f0f0;
  border-width:2;
}
.taskCreationFormTop {
  margin-bottom:8px;
}
.taskCreationBody {
  margin-left: 12px;
  margin-right: 16px;
}

.toDo {
  border-color:#40c5FF;
}
.toDo:hover {
  border-color:#1590FF;
}
.inProgress {
  border-color:#fcc107;
}
.inProgress:hover {
  border-color:#fca300;
}

.done {
  border-color:#00c500;
}
.done:hover {
  border-color:#009000;
}
.acceptButton {
  font-size:0.9rem;
  font-family:AvenirNext-Regular;
  border-radius:3px;
  padding-left:12px;
  padding-right:12px;
  padding-top:6px;
  padding-bottom:6px;
  background-color: #d4d4d4;
  cursor:pointer;
}
.acceptButton:hover {
  background-color:#cbcbcb;
}
.ptext {
  font-size:1rem;
  font-family:AvenirNext-Regular;
  margin:10px;
}
